.main-class {
  position: absolute;
  width: 1260px;
  height: 1229.78px;
  left: 56.02px;
  top: 86.25px;

  background: #f4f4f4;
  border-radius: 10px;
}
.inner-class {
  position: absolute;
  width: 1260px;
  height: 1229.78px;
  left: 56.02px;
  top: 86.25px;

  background: #f4f4f4;
  border-radius: 10px;
}
.col-first {
  position: absolute;
  width: 799.68px;
  height: 230.25px;
  left: 170.95px;
  top: 163.45px;
  background: #f5f5f5;
  border-radius: 10px;
}
.box-one {
  position: absolute;
  width: 99.47px;
  height: 99.47px;
  left: 379.48px;
  top: 872.79px;

  background: rgba(255, 191, 25, 0.4);
  border-radius: 5px;
}
.box-two {
  position: absolute;
  width: 131.27px;
  height: 131.27px;
  left: 219.79px;
  top: 1044.99px;

  background: #f4f4f4;
  border-radius: 5px;
}
.box-two p {
  position: absolute;
  width: 54.11px;
  height: 27.71px;
  left: 259.03px;
  top: 1072.87px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #ffbf19;
}
.create-event-btn{
    position: absolute;
width: 184.35px;
height: 35.06px;
left: 378.36px;
top: 1232.03px;

border: 1px solid #FFBF19;
box-sizing: border-box;
border-radius: 5px;
}