.speaker img {
  width: 100%;
  background: rgba(52, 52, 52, 0.65);
}
.speaker{
  position: relative;
}
.speaker .btn {
  outline: none;
  border: none;
  padding: 1rem 3.5rem;
  background: #ffbf19;
  border-radius: 10px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 1rem;
}
.fp-text{
  position: absolute;
  bottom: 3rem;
  width: 100%;
  text-align: center;
}
.one {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: white;
  margin-bottom: 1rem;
}
.two {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
