.fc1{
    position: absolute;
width: 49px;
height: 14px;
left: 172.72px;
top: 6657.27px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

}
.fc2{
    position: absolute;
width: 59px;
height: 14px;
left: 172.72px;
top: 6689.41px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;
}
.fc3{
    position: absolute;
width: 36px;
height: 14px;
left: 172.72px;
top: 6721.56px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

}
.fc4{
    position: absolute;
width: 30px;
height: 14px;
left: 172.72px;
top: 6753.7px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;
}
.fc5{
    position: absolute;
width: 72px;
height: 14px;
left: 382.52px;
top: 6657.27px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

}
.fc6{
    position: absolute;
width: 74px;
height: 14px;
left: 382.52px;
top: 6689.41px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;

}
.fc7{
    position: absolute;
width: 103px;
height: 14px;
left: 835.24px;
top: 6650.27px;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */

outline: 0;
color: #C4C4C4;

}
.fc8{
    position: absolute;
width: 73px;
height: 14px;
left: 1122.94px;
top: 6647.27px;
border: none;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */

background: none;
color: #000000;

}
.fc9{
    position: absolute;
width: 283px;
height: 14px;
left: 869.65px;
top: 6680.7px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;
}
.fc10{
    position: absolute;
width: 126px;
height: 14px;
left: 939.88px;
top: 6756.7px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #000000;
}
.fc11{
    position: absolute;
width: 164px;
height: 14px;
left: 601px;
top: 6907.24px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
/* identical to box height */

text-align: center;

color: #000000;
}
hr{
    position: absolute;
width: 364.26px;
height: 0px;
left: 829.02px;
top: 6665.99px;

border: 1px solid #C4C4C4;
}