.container {
  /* position: absolute; */
  width: 100%;
  height: 56.78px;
  left: 0px;
  top: 0px;

  background-color: #f4f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.logo img {
  display: inline;
  position: absolute;
  float: left;
  width: 114.82px;
  height: 64.66px;
  left: 87.49px;
  top: -7.44px;
}
.nav-ul {
  list-style: none;
  text-align: center;
  line-height: 50px;
}

.nav-ul li {
  display: inline;
}

.nav-ul li a {
  color: black;
  text-decoration: none;
  font-family: roboto;
  font-size: 14px;
  padding-left: 32.5px;
}

.nav-ul li:hover {
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: easeout 0.5s;
    /* text-shadow: 0px 0px 2px #ffbf19; */
}
.nav-ul li a:hover {
    font-size: 15px;
    transition: ease-in-out 0.5s;
}
.navright a {
  float: right;
  padding-right: 110px;
  text-align: center;
}
.navright a:hover{
  padding-left: 5px;
  font-size: 15px;
  transition: ease-in-out 0.5s;
}