.subplan-heading {
  grid-template-columns: 1fr 21fr;
}
.subplan-heading p:nth-child(2) {
  text-align: center;
}
.plan-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1rem ;
  column-gap: 1.5rem;
}
.plan-card{
  background: rgba(245, 245, 245, 1);
  border-radius: 10px;
  padding: 1rem 3rem;
  text-align: center;
}
.plan-card p:nth-child(1){
  font-weight: bold;
  font-size: small;
}
.plan-card p:nth-child(3){
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: larger;
}