.main-box .box-one {
  position: absolute;
  width: 284.79px;
  height: 416.19px;
  left: 118.84px;
  top: 234.93px;

  background: #f5f5f5;
  border-radius: 10px;
}
.header-main {
  display: flex;
  justify-content: space-between;
}
.second-main {
  display: flex;
  justify-content: space-around;
  height: 500px;
}
