.card-new {
  display: flex;
  justify-content: space-around;
  margin-top: 45px;
}
button {
  width: 184.35px;
  height: 35.06px;
  background: #ffbf19;
  border: 1px solid #ffbf19;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 80px;
}
.card-new .div-1 {
  width: 123px;
  height: 99.47px;
  background: rgba(255, 191, 25, 0.4);
  border-radius: 5px;
  padding: 14px;
}
.card-new .div-2 {
  width: 123px;
  height: 99.47px;
  background: rgba(255, 191, 25, 0.4);
  border-radius: 5px;
  padding: 14px;
}
.back-btn {
  float: left;
  margin-left: 13px;
}
.card-new .div-3 {
  width: 123px;
  height: 99.47px;
  background: rgba(255, 191, 25, 0.4);
  border-radius: 5px;
  padding: 14px;
}
.main-purchase {
  text-align: center;
  margin-top: 3px;
  box-shadow:0px 4px 8px rgb(171 171 171);
  border-radius: 15px;
  padding: 27px;
}
